<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
 version="5.0">

<servlet>
<servlet-name>FarmServlet</servlet-name>
<servlet-class>com.poultry.FarmServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FarmServlet</servlet-name>
<url-pattern>/farm</url-pattern>
</servlet-mapping>

</web-app>
